@{
    ViewData["Title"] = "Index";
}

<h1>Hola</h1>

<div>
    <h2>Como estas</h2>
</div>

@model List<Biblioteca.Casa>

@{
    ViewData["Title"] = "Lista de casas";
}

<h1>@ViewData["Title"]</h1>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Casa" asp-action="GetAll">Casa</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Electrodomestico" asp-action="GetAll">Electrodomestico</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="GetAll">Usuario</a>

@* <div>
    <details>
            <summary>Mostrar Casas</summary>

    @foreach (var casa in Model)
    {
        <p>@casa.Direccion</p>
    }
    </details>

    <a asp-action="AltaForm">
        <button type="button">Crear Casa</button>
    </a>
</div>

@using MinimalApi.Dtos
@model List<ElectrodomesticoResponse>
@{
    ViewData["Title"] = "GetAll";
}

<h1>@ViewData["Title"]</h1>

<div>
    <details>
        <summary>Mostrar Electrodomésticos</summary>
        @foreach(var electrodomestico in Model)
        {
            <p>@electrodomestico.IdElectrodomestico</p>
            <P>@electrodomestico.IdCasa</P>
            <p>@electrodomestico.Nombre</p>
            <p>@electrodomestico.Tipo</p>
            <p>@electrodomestico.Ubicacion</p>
            <p>@electrodomestico.Encendido</p>
            <P>@electrodomestico.Apagado</P>
        }
    </details>
    
    <a asp-action="AltaForm">
        <button type="button">Crear Electrodoméstico</button>
    </a> *@
</div>
